# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
wol-panel/.eslintcache
wol-panel/.yarn/releases
wol-panel/.yarnrc
wol-panel/test-results
wol-panel/playwright-report
wol-api/telemetry/data
