[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=/nix/store/ych3cf6dhqcq4hlgp9xjqrya03zcp3nz-firefox-129.0.1/bin/firefox %u
Name=Firefox
Comment=Custom definition for Firefox
